# 📌 Ignore le Virtual Environment
venv/
.env
.venv/

# 📌 Ignore les fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# 📌 Ignore les fichiers de logs et caches
*.log
*.bak
*.swp
*.swo
*.DS_Store
*.egg-info/
.pytest_cache/

# 📌 Ignore les fichiers de Buildozer (Android/iOS)
buildozer.spec
.buildozer/
dist/
bin/
gen/

# 📌 Ignore compile files
## For android (gradle)
.gradle/
local.properties
*.iml
.idea/
*.apk
*.aab

# 📌 Ignore Vscode config folder
.vscode

# Folder used to store examples and temporary elements for the project.
demo/
runs/
.db

# Ignore custom sessions files
app/fonts/font.py

# Ignoring CI automatisation, because of no use of .env there is a security issue to the ssh connection to the serveur,
# I can change it or I can be lazy and nerver fix it, the second option was my choice.
*.bat
*.sh